html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(167, 167, 165);
}
main {
    font-family: 'Manrope', Courier, monospace;
    font-weight: 400;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.nav_section {
    margin: 0 auto;
    padding-top: 31px;
}

.logo {
    width: 1151.36px;
    height: 25.18px;
   
}

.logo_link {
    display: inline-block;
    width: 126.89px;
    height: 21.42px;
}

.nav {
    float: right;
}

.nav_link {
    display: inline-block;
    height: 25px;
    text-decoration: none;
    padding-left: 58px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: center;
    color: black;
}

.nav_link:hover {
    text-decoration: underline;
    color: rgb(116, 114, 119);
}

.first_section {
    background-color: white;
    padding: 66px 125px 0px 125px;  
}

section {
    background-color: white;
    padding: 150px 125px 5px 125px;  
}

h1 {
    width: 956px;
    height: 120px;
    margin-bottom: 30px;
    font-size:60px;
    line-height: 60px;  
    letter-spacing: -0.03em;       
}    

.interior {
    position: relative;
    height: 500px; 
    width: 1150px; 
    background-image: url(../resourses/restangle.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size:20px;
    line-height: 26.32px;
    letter-spacing: -0.03em; 
    color: white;
} 

.infomation {
    width: 1051px;
    height: 518px;
}   

h2 {
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em; 
    margin-bottom: 30px;
}

.info {
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em; 
    margin-bottom: 30px;
}

.service {
    display: block;
    border-radius: 5px;
    background-color: #AD1818;
    width: 255px;
    height: 67px;
    text-align: center;
    color: white;
    line-height: 67px;
    font-size:20px;
    letter-spacing: -0.03em; 
  }

.progects__name { 
    font-size: 18px;
    line-height: 18.59px;
    letter-spacing: -0.03em; 
    margin-bottom: 30px;
}

.progect {
    height: 548px;
    margin-bottom: 91px;
}

.progect_image {
    width: 1150px;
    height: 453px;
    margin-bottom: 14px;
}

.progect_name {
    width: 542px;
    height: 41px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em; 
}

.progect_link {
    width: 127px;
    height: 27px;
    background-color: white;
    border: none;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em; 
    color: #AD1818;
} 

.progects_btn { 
    width: 100%;
    height: 153px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em; 
    color: #AD1818;
}
.progects_btn:hover {
    background-color: #AD1818;
    color: white;
}

.progects_btn:last-child {
    margin-bottom: 150px;
}

.jobes_first {
    max-width: 1400px;
    height: 1838px;
    padding: 146px 125px 100px 125px;
    background-color: black;
    color: white;
}

.jobes_input {
    margin-bottom: 38px;
}

.jobe {
    height: 326px;
    margin-bottom: 60px;
}

.jobe_image {
    width: 1150px;
    height: 269px;
    margin-bottom: 22px;
}

.jobe_name {
    width: 800px;
    height: 41px;
    font-size: 30px;
    line-height: 24.98px;
    letter-spacing: -0.026em; 
}



.forest {
    position: relative;
    height: 717px;
    background-image: url(../resourses/Ractangle_forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: 50%;
}

.forest_room {
    position:absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    height: 82px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em; 
    color: white;
}

.contacts {
    position: relative;
    height: 400px;
}

.contacts:before {
    position: absolute;
    content: '';
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-image: url(../resourses/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;     
}

.contact {
    display: block;
    padding: 34px 0px 30px 0px;
    width: 90px;
    height: 25px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
}

.phone {
    margin-bottom: 30px;
}

.phone_link, .mail_link {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: black;
}

.mail_link:hover {
    text-decoration: underline;
    color: rgb(116, 114, 119);
}

.nav_section_end {
    max-width: 1400px;
    padding: 58px 150px 30px 125px;
    background-color: black;
    color: white;
}
.nav_end {
    margin: 0 auto;
    width: 480px;
    height: 25px;
}

.nav_link_end {
    display: inline-block;
    width: 87px;
    height: 25px;
    margin-right: 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
}

.nav_link_end:hover {
    text-decoration: underline;
    color: rgb(116, 114, 119);
}

.nav_link_end:nth-last-child(1) {
    margin: 0;
}

.name_end {
    margin: 0 auto;
    margin-top: 86px;
    width: 389px;
    height: 27px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: #a4a3a3;
    text-align: center;
}